body {
    margin:0;
    padding:0;
}

@font-face{
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-LightItalic.ttf) format('woff')
}

@font-face{
    font-family: 'Roboto';
    src: local('Roboto'), url(./fonts/Roboto/Roboto-ThinItalic.ttf) format('woff')
}

@font-face{
    font-family: 'Loved by the King';
    src: local('Loved by the King'), url(./fonts/Loved_by_the_King/LovedbytheKing.ttf) format('woff')
}
@font-face{
  font-family: 'Dancing Script';
  src: local('Dancing Script'), url(./fonts/Dancing_Script/DancingScript-Regular.ttf) format('woff')
}
@font-face{
  font-family: 'Josefin Sans';
  src: local('Josefin Sans'), url(./fonts/josefin-sans/JosefinSans-Regular.ttf) format('woff')
}

#C-1, #zerw, #o-1, #ny, #K, #a1, #b1,#r2, #i, #o2, #l, #et, #kreska_od_t, #kropka_nad_i {
    fill:none;
    stroke:white;
    stroke-width:8;
    animation: letters-animate linear forwards;
    opacity:0;
  }
  #C-1 {
    stroke-dasharray:143;
    stroke-dashoffset:143;
    animation-duration: 0.2s;
    
  }
  #zerw {
    stroke-dasharray:533;
    stroke-dashoffset:533;
    animation-duration: 0.4s;
    animation-delay: 0.2s;
  }
  #o-1 {
    stroke-dasharray:119;
    stroke-dashoffset:119;
    animation-duration: 0.2s;
    animation-delay: 0.6s;
  }
  #ny {
    stroke-dasharray:272;
    stroke-dashoffset:272;
    animation-duration: 0.2s;
    animation-delay: 0.8s;
  }
  #K {
    stroke-dasharray:272;
    stroke-dashoffset:272;
    animation-duration: 0.3s;
    animation-delay: 1s;
  }
  #a1 {
    stroke-dasharray:109;
    stroke-dashoffset:109;
    animation-duration: 0.2s;
    animation-delay: 1.3s;
  }
  #b1 {
    stroke-dasharray:154;
    stroke-dashoffset:154;
    animation-duration: 0.2s;
    animation-delay: 1.5s;
  }
  #r2 {
    stroke-dasharray:117;
    stroke-dashoffset:117;
    animation-duration: 0.2s;
    animation-delay: 1.7s;
  }
  #i {
    stroke-dasharray:48;
    stroke-dashoffset:48;
    animation-duration: 0.2s;
    animation-delay: 1.9s;
  }
  #kropka_nad_i {
    stroke-dasharray:31;
    stroke-dashoffset:31;
    animation-duration: 0.3s;
    animation-delay: 2.2s;
  }
  #o2 {
    stroke-dasharray:136;
    stroke-dashoffset:136;
    animation-duration: 0.2s;
    animation-delay: 2.1s;
  }
  
  #l {
    stroke-dasharray:91;
    stroke-dashoffset:91;
    animation-duration: 0.2s;
    animation-delay: 2.3s;
  }
  #et {
    stroke-dasharray:207;
    stroke-dashoffset:207;
    animation-duration: 0.3s;
    animation-delay: 2.5s;
  }
  #kreska_od_t {
    stroke-dasharray:36;
    stroke-dashoffset:36;
    animation-duration: 0.5s;
    animation-delay: 2.8s;
  }
  
  
  
  @keyframes letters-animate{
    100%{
      opacity:1;
      stroke-dashoffset:0;
      
    }
  };
